This project is contributed by Bring Nirachornkul. MS-AI Student at UNT. This EDA demonstrate how busiest days in the week.

Import Library for this Project

In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import dateutil.parser
import calendar
import seaborn as sns
import plotly.express as px

Mounted Google Drive to the project

In [42]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [43]:
path = '/content/drive/MyDrive/Python-Project/Fall/Data Scientist/Ubers/Ubers-Trip-Data-in-NYC/uber-trip-data/'
path

'/content/drive/MyDrive/Python-Project/Fall/Data Scientist/Ubers/Ubers-Trip-Data-in-NYC/uber-trip-data/'

Merged all Uber trips from April to September in 2014

In [44]:
#the months that has the Uber trips in 2014
m_2014 = ['apr','may', 'jun', 'jul', 'aug', 'sep']
file_path = path + 'uber-raw-data-{}14.csv'

#Read and concatenate pickup data
y_2014 = pd.DataFrame()

for i in m_2014:
  #print('size of {0}: {1}'.format(m_2014[i], len(df.index)))
  #print(i)     #read CSV file name
  df = pd.read_csv(file_path.format(i))
  y_2014 = pd.concat([y_2014, df])
  print('size of {0}: {1}'.format(i, len(y_2014)))

size of apr: 564516
size of may: 1216951
size of jun: 1880795
size of jul: 2676916
size of aug: 3506191
size of sep: 4534327

How many rows y_2014(year 2014) has?

In [52]:
y_2014.shape

(4534327, 7)

Convert Date/Time from String to date/Time format

In [45]:
#display before convert Date/Time
y_2014.head(5)

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [47]:
y_2014['Date/Time'] = pd.to_datetime(y_2014['Date/Time'])

y_2014['Month'] = y_2014['Date/Time'].dt.month
y_2014['Day'] = y_2014['Date/Time'].dt.day
y_2014['Time'] = y_2014['Date/Time'].dt.time

#Display the dataframe after convert 'Date/Time' from string to Date/Time format.
y_2014.head()

            Date/Time      Lat      Lon    Base  Month  Day      Time
0 2014-04-01 00:11:00  40.7690 -73.9549  B02512      4    1  00:11:00
1 2014-04-01 00:17:00  40.7267 -74.0345  B02512      4    1  00:17:00
2 2014-04-01 00:21:00  40.7316 -73.9873  B02512      4    1  00:21:00
3 2014-04-01 00:28:00  40.7588 -73.9776  B02512      4    1  00:28:00
4 2014-04-01 00:33:00  40.7594 -73.9722  B02512      4    1  00:33:00

In [49]:
#Sample Histogram graph : all the trips in 2014

fig = px.histogram(y_2014, x="Base", color="Base")
fig.show()

Display the base company on April 2014

In [ ]:
px.scatter(y_2014[0],x = 'Lat',y = 'Lon',color = 'Base',height = 800)

In [ ]:
from sklearn.cluster import KMeans
from numpy import random, float

K = 10

lat = y_2014[0]['Lat'].values
lon = y_2014[0]['Lon'].values

lat_r = lat.reshape(len(lat), 1)
lon_r = lon.reshape(len(lon), 1)
cord = np.concatenate((lat_r, lon_r), 1)

model = KMeans(n_clusters=K)
model = model.fit(cord)

plt.figure(figsize=(16, 9))
plt.scatter(cord[:, 0], cord[:, 1], c=model.labels_.astype(float))
plt.show()

Convert the date/time information from string to date/time format.

In [ ]:
print(y_2014)

In [ ]:
type(y_2014[4].loc[0,'Date/Time'])